{% extends 'main/base.html' %}

{% block title %} Built Life - home page {% endblock %}

{% block content %}

    <div class="activities_page_follow_container">

        {% for message in messages %}
            <div class="successfully_company_created" id="successfully_company_created">
                <div class="block_successfully_created_company">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="58" height="58" fill="#3abc21" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                    </i>
                    <h1>{{ message }}</h1>
                    <span id="successfully_created_button">Ok, got it!</span>
                </div>
            </div>
        {% endfor %}

        <div class="activities_by_status">
            <div class="activities_title_by_status">
                <h1>Activities</h1>
                <p>by Status</p>
            </div>
            <div class="activities_status_by_status">
                <div class="status_activities_status">
                    <p>Active</p>
                    <span>
                        <svg width="18" height="18" viewBox="0 0 24 24" fill="#a1a5b7" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>

        <div class="activities_block_main_container">

            <a href="" class="activiti_info_detail_block">
                <div class="main_info_activity_detail_block">
                    <div class="cover_image_activity" style="background-image: url('https://i.pinimg.com/originals/3e/4e/83/3e4e83ecb133c19f2a08fc9fb5ea9f11.png')"></div>
                    <div class="passing_status_activity">
                        <span>In Progress</span>
                    </div>
                </div>
                <div class="main_title_info_activity">
                    <h1>Fitness App</h1>
                    <p>CRM App application to HR efficiency</p>
                </div>
                <div class="main_passing_detail_activity">
                    <div class="main_started_date_activity">
                        <h1>Sep 22, 2022</h1>
                        <p>Beginning Date</p>
                    </div>
                    <div class="main_started_date_activity">
                        <h1>50000 KZT</h1>
                        <p>Budget</p>
                    </div>
                </div>
                <div class="percentage_activity">
                    <div class="completed_percentage_activity"></div>
                    <div class="remainder_percentage_activity"></div>
                </div>
                <div class="other_users_passing_activity">
                    <div class="user_passing_activity" style="background-image: url('https://preview.keenthemes.com/metronic8/demo16/assets/media/avatars/300-6.jpg')"></div>
                    <div class="user_passing_activity second_user_passing_activity" style="background-image: url('https://preview.keenthemes.com/metronic8/demo16/assets/media/avatars/300-1.jpg')"></div>
                </div>
            </a>

        </div>


        <h1 class="available_activities_title_blank">Available activities</h1>

        <div class="available_activities">
            <a class="detail_available_activity">
               <div class="main_informations_available_activity">
                   <div class="cover_image_activity" style="background-image: url('http://chess48.ru/wp-content/uploads/2021/04/vseobuch.jpg')"></div>
                   <div class="main_title_info_activity">
                       <h1>Chess</h1>
                   </div>
               </div>
                <p class="definition_available_activity">CRM App application to HR efficiency</p>
                <div class="budget_price_activity">
                    <div class="main_started_date_activity">
                        <h1>50000 KZT</h1>
                        <p>Budget</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

    <script>
        const checkButton = document.getElementById('successfully_created_button');
        const checkBlock = document.getElementById('successfully_company_created');

        checkButton.addEventListener('click', () => {
            checkBlock.style.display = 'none';
        })
    </script>

{% endblock %}